.container{
    color: rgb(38, 40, 139);
    background-color: rgb(173, 43, 43);
}





text {
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(14, 243, 243);
    
}