ul li{
    list-style-type: square;
    background-color: rgb(220, 216, 216);
    margin: 5px;
    width: 250px;
}

ul li:hover{
    transition-duration: 0.5s;
    background-color: rgb(73, 73, 74);
    transform: translate(15px) 

}

    background-color rgb: {113, 113, 113};
    



